body {
  background-color: palegoldenrod;
}

h1 {
  color: orange;
  text-align: center;
}

p {
  font-size: 24px;
}

strong {
  color: blue;
  text-decoration: underline;
}

em {
  color: red;
}

.highlight {
  color:gray;
}

#note {
  text-decoration: underline;
}