* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

main {
  max-width: 1000px;
  background-color: #333;
  margin: auto;
  padding: 60px 20px 20px 20px;
}

figure {
  width: 100%;
  margin-top: 30px;
}

figcaption {
  padding: 10px 0 25px 0;
}

div {
  background-color: white;
  border: 15px solid white;
}

img {
  width: 100%;
  vertical-align: bottom;
}

aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

aside div {
  width: 22%;
  border: 2px white solid;
}

aside div img {
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 900px) {
  aside {
    flex-wrap: wrap;
  }

  aside div {
    width: 30%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  aside {
    flex-wrap: wrap;
  }

  aside div {
    width: 45%;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  figure {
    width: 70%;
  }

  aside {
    flex-direction: column;
    width: 20%;
  }

  aside div {
    margin-top: 10px;
    width: 80%;
  }
}
