aside {
  position: fixed;
  left: 50%;
  background-color: yellow;
  top: 20px;
  padding: 50px;
  width: 400px;
  margin-left: -200px;
  z-index: 2;
}

body {
  background-color: grey;
}

section {
  background-color: white;
}

.opacity {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  position:fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.pink {
  background-color: pink;
  height: 20px;
  width: 20px;
  top: -60px;
  left: -60px;
  position: relative;
}